<div cdkDropListGroup>
  <div class="example-container">
    <h2>Narzędzia</h2>

    <div
      cdkDropList
      [cdkDropListData]="narzedzia"
      class="example-list"
  >
      <div class="example-box" *ngFor="let item of narzedzia" cdkDrag>{{item}}</div>
    </div>
  </div>
  <div class="example-container">
    <h2>Sekwencja</h2>

    <div
      cdkDropList
      [cdkDropListData]="sekwencja"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of sekwencja" cdkDrag>{{item}}</div>
    </div>
  </div>

  
</div>